<%- include('partials/header')%>
<section>
  <div class="header">
    <h2>FIR-contents</h2>
  </div>
  <div class="container">
    <div class="row">
      <fieldset>
        <legend>
          <h5>Complainant Details</h5>
        </legend>
        <table>
          <tr>
            <td>Fir-Number:</td>
            <td></td>
          </tr>
          <tr>
            <td>Name:</td>
            <td></td>
            <td>Sex:</td>
            <td></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td></td>
            <td>Phone No.:</td>
            <td></td>
          </tr>
          <tr>
            <td>Date of Birth:</td>
            <td></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend>
          <h5>Address Details</h5>
        </legend>
        <table>
          <tr>
            <td>Present State:</td>
            <td></td>
            <td>Present District:</td>
            <td></td>
          </tr>
          <tr>
            <td>Present Village/Town/City:</td>
            <td></td>
            <td>Police Station:</td>
            <td></td>
          </tr>
          <tr>
            <td>Permanent State:</td>
            <td></td>
            <td>Permanent District:</td>
            <td></td>
          </tr>
          <tr>
            <td>Permanent Village/Town/City:</td>
            <td></td>
            <td>Police Station:</td>
            <td></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend>
          <h5>FIR Details</h5>
        </legend>
        <table>
          <tr>
            <td>Nature of Complaint:</td>
            <td></td>
            <td>Crime Subtype:</td>
            <td></td>
          </tr>
          <tr>
            <td>Victim Present:</td>
            <td></td>
            <td>Occurence Place Known:</td>
            <td></td>
          </tr>
          <tr>
            <td>FIR Content:</td>
            <td></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend><h5>Complainant Signature</h5></legend>
        <table>
          <tr>
            <td>Complainant Signature:</td>
            <td><img src="/images/download.jpg" /></td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div class="row">
      <div class="verify">
        <button
          class="btn waves-effect waves-light submit-btn"
          type="submit"
          name="action"
        >
          Accept
          <i class="material-icons right">done_all</i>
        </button>
        <button
          class="btn waves-effect waves-light submit-btn"
          type="submit"
          name="action"
        >
          Reject
          <i class="material-icons right">clear</i>
        </button>
      </div>
    </div>
  </div>
</section>

<%- include('partials/header')%>
