<%- include('partials/header')%>
<section>
  <div class="header">
    <h2>Request Details</h2>
  </div>
  <div class="container">
    <div class="row">
      <fieldset>
        <legend>
          <h5>Requester Details</h5>
        </legend>
        <table>
          <tr>
            <td>Police Station ID:</td>
            <td></td>
            <td>Sender's Name:</td>
            <td></td>
          </tr>
          <tr>
            <td>Request Content:</td>
            <td></td>
          </tr>
          <td>Amount Requested:</td>
          <td></td>
        </table>
      </fieldset>
      <fieldset>
        <legend>
          <h5>Sender's Signature</h5>
        </legend>
        <table>
          <tr>
            <td>Signature:</td>
            <td></td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
