<%- include('partials/header')%>
<section>
  <div class="header">
    <h2>Request for Funds</h2>
  </div>
  <div class="container">
    <div class="row"></div>
  </div>
</div>
</div>
<div class="request-list">
<div class="row">
  <table class="striped highlight">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Police Station</th>
        <th>Name</th>
        <th>Fund Requested</th>
        <th>View</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="">view</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
<%- include('partials/footer')%>
