<%- include('partials/header')%>
<section>
  <div class="header">
    <h2>Vehicle Details</h2>
  </div>
  <div class="container">
    <div class="row">
      <fieldset>
        <legend>
          <h5>Vehicle-Particulars</h5>
        </legend>
        <table>
          <tr>
            <td>Registraton Number:</td>
            <td></td>
            <td>Engine Number:</td>
            <td></td>
          </tr>
          <tr>
            <td>Chassis Number:</td>
            <td></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend>
          <h5>Owner Details</h5>
        </legend>
        <table>
          <tr>
            <td>Details:</td>
            <td><img src="/images/download.jpg" /></td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
</section>

<%- include('partials/footer')%>
