<%- include('partials/header') %>

<body>
  <div class="box">
    <form action="/reset" method="POST">
      Uname : <input type="text" name="username" /><br />
      <input type="submit" value="Reset" />
    </form>
  </div>
</body>

<%- include('partials/footer') %>
