<%- include('partials/header') %>

<body>
    <div class="box">
        <form action="/reset" method="POST">
            Uname : <input type="text" name="username"><br>
            Password : <input type="password" name="password"><br>
            <input type="submit" value="Reset">
        </form>
    </div>
    
</body>

<%- include('partials/footer') %>