.header {
  text-align: center; }

.verify {
  float: right;
  margin-top: 20px; }

.date {
  float: left; }

tr {
  border-bottom: none; }

tr td:nth-child(1) {
  font-weight: 500;
  width: 20%; }

tr td:nth-child(2) {
  width: 20%; }

tr td:nth-child(3) {
  font-weight: 500;
  width: 20%; }

tr td:nth-child(4) {
  width: 30%; }

img {
  height: 150px;
  width: 150px; }
