<%- include('partials/header.ejs') %>

<div class="container">
  <h1>FIR Details</h1>
  <div class="row">
    <form action="/form/fir">
      <fieldset>
        <legend>
          <h2>Personal Details</h2>
        </legend>
        <div class="row">
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">person</i>
              <input id="name" type="text" />
              <label for="name">Name</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" />
              <label for="email">Email</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">date_range</i>
              <input id="dob" type="date" />
              <label for="dob">Date Of Birth</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">wc</i>
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <label>Sex</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">phone</i>
              <input id="mobile" type="tel" />
              <label for="mobile">Phone Number</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">vpn_key</i>
              <input id="otp" type="number" maxlength="6" />
              <label for="otp">OTP</label>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          <h2>Address Details</h2>
        </legend>
        <div class="row">
          <h5>&nbsp;&nbsp;Present Address</h5>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">location_city</i>
              <input id="Village/Town/City1" type="text" />
              <label for="Village/Town/City1">Village/Town/City</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">business</i>
              <select>
                <option value="" disabled selected>Choose your District</option>
              </select>
              <label>District</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">home_work</i>
              <select>
                <option value="" disabled selected>Choose your State</option>
                <option value="male">Andhra</option>
                <option value="female">Bihar</option>
                <option value="other">Other</option>
              </select>
              <label>State</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">local_convenience_store</i>
              <select>
                <option value="" disabled selected
                  >Choose your Police Station</option
                >
              </select>
              <label>Police Station</label>
            </div>
          </div>
        </div>
        <div class="row">
          <p>
            <label>
              <input id="same-address" type="checkbox" class="filled-in" />
              <span
                >If Permanent address is same as Present address then click on
                the check box</span
              >
            </label>
          </p>
        </div>
        <div class="row">
          <h5>&nbsp;&nbsp;Permanent Address</h5>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">location_city</i>
              <input id="Village/Town/City2" type="text" />
              <label for="Village/Town/City2">Village/Town/City</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">business</i>
              <select>
                <option value="" disabled selected>Choose your District</option>
              </select>
              <label>District</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">home_work</i>
              <select>
                <option value="" disabled selected>Choose your State</option>
                <option value="male">Andhra</option>
                <option value="female">Bihar</option>
                <option value="other">Other</option>
              </select>
              <label>State</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">local_convenience_store</i>
              <select>
                <option value="" disabled selected
                  >Choose your Police Station</option
                >
              </select>
              <label>Police Station</label>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          <h2>FIR Details</h2>
        </legend>
        <div class="row">
          <div class="col s6">
            <div class="input-field">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Theft/Robbery</option>
                <option value="2">Murder/Attempt to Murder</option>
                <option value="3">Narcotics/Drugs</option>
                <option value="1">Physical/Sexual Abuse</option>
                <option value="2">Financial Fraud</option>
                <option value="3">Child Abuse/POCSO</option>
              </select>
              <label>Nature of Complaint</label>
            </div>
            <div class="input-field">
              <p>
                <label>Select Type of Victim</label>
                <label>
                  <input
                    id="type-of-victim1"
                    class="with-gap"
                    name="group1"
                    type="radio"
                  />
                  <span>Present</span>
                </label>
                <label>
                  <input
                    id="type-of-victim2"
                    class="with-gap"
                    name="group1"
                    type="radio"
                  />
                  <span>Not Present</span>
                </label>
              </p>
            </div>
            <div class="input-field">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">FIR Content</label>
            </div>
            <div class="input-field">
              <p>
                <label>Occurence Place Known</label>
                <label>
                  <input
                    id="place-of-occur1"
                    class="with-gap"
                    name="group2"
                    type="radio"
                  />
                  <span>Yes</span>
                </label>
                <label>
                  <input
                    id="place-of-occur2"
                    class="with-gap"
                    name="group2"
                    type="radio"
                  />
                  <span>No</span>
                </label>
              </p>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Other</option>
                <option value="2">NA</option>
                <option value="3">Theft</option>
              </select>
              <label>Crime sub type</label>
            </div>
            <div class="input-field">
              <select>
                <option value="FIR" selected>FIR</option>
              </select>
              <label>Select File Type</label>
            </div>
            <div class="input-field">
              <select>
                <option value="FIR Contents" selected>FIR Contents</option>
              </select>
              <label>Select File Subtype</label>
            </div>
          </div>
        </div>
      </fieldset>
      <legend>
        <h2>Upload Signature</h2>
      </legend>
      <fieldset>
        <div class="row">
          <div class="col s6">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" required />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="save">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
<script>
  $("select").formSelect();
</script>
