<%- include('partials/header')%>
<div class="container">
  <h1>Upload Bills</h1>
  <div class="row">
    <fieldset>
      <legend>
        <h2>Police Station Details</h2>
      </legend>
      <form action="/form/uploadBills" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col s6">
              <div class="input-field">
                <i class="material-icons prefix">account_balance</i>
                <input id="pid" type="text" name="pid" />
                <label for="pid">Police Station Id</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">confirmation_number</i>
                <input id="requestId" type="text" name="requestId" />
                <label for="pid">Request Id</label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input id="name" type="text" name="name" />
                <label for="name">Name</label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend><h2>Upload Bills</h2></legend>
          <div class="row">
            <div class="col s6">
                <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                  </div>
            </div>
          </div>
        </fieldset>
        <div class="save">
            <button class="btn waves-effect waves-light" type="submit">
              Submit
              <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="reset">
              Reset
              <i class="material-icons right"></i>
            </button>
          </div>
    </form>
      
  </div>
</div>

<%- include('partials/footer')%>
